In [22]:
import alpaca_trade_api as api
import pandas
import pickle

In [23]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
pandas.set_option('display.max_columns', None)
pandas.set_option('display.max_rows', None)
pandas.set_option('display.float_format', lambda x: '%.3f' % x)

In [24]:
API_KEY = '<API_KEY>'
SECRET_KEY = '<SECRET_KEY>'

In [25]:
alpaca = api.REST(API_KEY, SECRET_KEY)

In [26]:
# PARAMETERS
symbol = 'SPY'
start_date = "2020-06-14"
end_date = "2023-02-16"

# MINUTE BARS DOWNLOAD

In [27]:
file_dir = f'bars/{symbol}_{start_date}_to_{end_date}.pickle'
print('Writing bars to file:')
print(file_dir)
print()

Writing bars to file:
bars/SPY_2020-06-14_to_2023-02-16.pickle

In [28]:
bars = alpaca.get_bars(symbol, api.TimeFrame(1, api.TimeFrameUnit.Minute), start_date, end_date, adjustment='raw').df
bars.to_pickle(f'bars/{symbol}_{start_date}_to_{end_date}.pickle')

In [29]:
bars.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2020-06-15 08:00:00+00:00,296.360,296.410,296.200,296.300,25228,63,296.318
2020-06-15 08:01:00+00:00,296.300,296.910,296.210,296.740,20372,69,296.465
2020-06-15 08:02:00+00:00,296.570,296.570,296.020,296.240,24580,143,296.318
2020-06-15 08:03:00+00:00,296.300,296.650,296.300,296.640,10978,75,296.529
2020-06-15 08:04:00+00:00,296.560,296.580,296.320,296.350,12741,88,296.465

In [30]:
bars.tail()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-02-17 00:51:00+00:00,407.190,407.290,407.190,407.250,20428,46,407.245
2023-02-17 00:52:00+00:00,407.230,407.230,407.230,407.230,742,9,407.233
2023-02-17 00:54:00+00:00,407.220,407.300,407.220,407.300,858,16,407.256
2023-02-17 00:58:00+00:00,407.310,407.310,407.300,407.300,415,15,407.304
2023-02-17 00:59:00+00:00,407.280,407.310,407.260,407.300,7552,32,407.293

# DAILY BARS DOWNLOAD

In [15]:
file_dir = f'bars/{symbol}_DAILY_{start_date}_to_{end_date}.pickle'
print('Writing bars to file:')
print(file_dir)
print()

Writing bars to file:
bars/SPY_DAILY_2020-06-14_to_2023-02-16.pickle

In [17]:
bars = alpaca.get_bars(symbol, api.TimeFrame(1, api.TimeFrameUnit.Day), start_date, end_date, adjustment='raw').df

# SET TIME TO 0:00
bars = bars.rename(index=lambda x: x.replace(hour=0, minute=0, second=0, microsecond=0, nanosecond=0))

file_dir = f'bars/{symbol}_DAILY_{start_date}_to_{end_date}.pickle'
bars.to_pickle(file_dir)
print('Writing bars to file:')
print(file_dir)
print()

Writing bars to file:
bars/SPY_DAILY_2020-06-14_to_2023-02-16.pickle

In [13]:
bars.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2020-06-15 00:00:00+00:00,298.020,308.280,296.740,307.110,135789334,779013,303.857
2020-06-16 00:00:00+00:00,315.480,315.640,307.670,312.750,137623502,808627,312.590
2020-06-17 00:00:00+00:00,314.070,314.390,310.860,311.660,83200944,435972,312.636
2020-06-18 00:00:00+00:00,310.005,312.300,309.510,311.760,80828658,419208,311.210
2020-06-19 00:00:00+00:00,314.170,314.380,306.530,308.540,136935124,606556,310.357

In [14]:
bars.tail()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-02-10 00:00:00+00:00,405.860,408.440,405.010,408.040,70769715,489779,407.009
2023-02-13 00:00:00+00:00,408.720,412.970,408.240,412.830,64923047,427006,411.387
2023-02-14 00:00:00+00:00,411.240,415.050,408.511,412.640,88412194,628223,412.117
2023-02-15 00:00:00+00:00,410.350,414.060,409.470,413.980,61685279,427502,412.265
2023-02-16 00:00:00+00:00,408.790,412.910,408.140,408.280,74002384,579478,410.369